@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}

@layer utilities {
  .bg-poker-table {
    background-color: #2f4a3a; /* darker, earthier green */
    background-image: radial-gradient(
        circle at center,
        rgba(255, 255, 255, 0.05) 0%,
        transparent 70%
      ),
      repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.02) 0px,
        rgba(255, 255, 255, 0.02) 1px,
        transparent 1px,
        transparent 3px
      );
    background-size: cover;
  }

  .bg-table-background {
    background-color: #2a2a2a; /* light oak / tan */
  }

  @keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animate-spin-slow {
    animation: spin-slow 8s linear infinite;
  }
}